	<!DOCTYPE html>
<html>

<head>
	
<title>About Us</title>
	<meta charset="utf-8"  />
	<meta name="keywords" lang="en-us" content="faqs">
	<style>
	body {
			background-color: #faf2e4;
			margin: 0;
			font-family: sans-serif;
			background-image: url(/images/"IMG_2361.JPG", size: "220x200");
		}
		h2 {
			text-align: center;
			font-family: serif;
			font-weight: normal;
			text-transform: uppercase;
			border-bottom: 1px solid #57b1dc;
			margin-top: 30px;
		}
	


	</style>

</head>

<body>
     
<h2>About Us</h2>
	<br/>	

		<h3>SOURCED AT THE  FLOWER FARMS</h3>
	<p>We have teamed up and work directly with the best US certified flower farms and invest in the workers who labor there.</p>
	<p>GC Flowers believes in flower farm-direct, transparent sourcing, which means partnering with farmers who use sustainable growing practices like minimizing waste and recycling water. What is the objective? No more middlemen! Flowers continue fresher, longer. Our farms are constantly increasing our R&D in production and packaging of fresh cut flowers for the purpose of exports.
	Our flowers are shipped from the flower farms where they are bred, grown, cut and packaged for export.</p>	
	<h4>Our mission</h4>
	<p>
	Our mission is to help our community share smiles, so any day can become a special occasion or to make a celebration extra wonderful.</p>
	<h4>Our purpose</h4>
	<p>Make our community enjoy the beauty of fresh flowers at any time — for birthdays, anniversaries, new beginnings, or just because. We provide direct access to farm fresh, high-quality flowers to those who enjoy the invigoration beauty of blossoming.</p>
	<h4>Our work</h4>
	<p>We have assembled a group of more than 20 flower farms to harmonize and ship only the freshest, highest quality flowers available. Each box arrives with bundles of blooms, that our clients can then break apart and design in a way that best suits their creative fantasies.</p>
	<h4>Our Values</h4>
	<p>At GC Flowers we know that sending flowers conveys a truly heartfelt message to someone special. It could be an expression of love, affection, health, happiness and a lot more.
	We make it a priority to work directly with our Rainforest Alliance Certified™ flower farms and invest in the people who work there. We believe our hands-on approach is the best way to guarantee only the freshest flowers are picked every day. No cutting corners. Just happiness for all.</p>
	<h4>Inclusivity</h4>
	<p>Throughout every element of our company, we value inclusion of ability, age, social status, ethnicity, experience, gender, and religion.</p>

</body>
</html>

	