<!DOCTYPE html>
<html>

<head>
	<title>CLAIMS</title>
	<meta charset="utf-8"  />
	<meta name="keywords" lang="en-us" content="claims, credit policy">
	<style>
		body {
			background-color: #faf2e4;
			margin: 0;
			font-family: sans-serif;
		}
		h3 {
			text-align: center;
			font-family: serif;
			font-weight: normal;
			text-transform: uppercase;
			border-bottom: 1px solid #57b1dc;
			margin-top: 30px;
		}

	</style>

</head>

<body>

<h2> CLAIMS & CREDIT POLICY </h2>

<p>We at GreatCutFlowers, LLC are committed to providing the best products possible. However, as all flowers are perishable, there may be issues on occasion. We have a Claims & Credit Policy in place to work closely with our growers in alerting them to quality issues and/or disease problems. Our growers expect a full report, which is reasonable, and we therefore request that our clients participate in accommodating them.</p>

<p>The simple procedure is outlined below. <em>Thank you in advance for your adherence to our Claims & Credit Policy.</em></p>

<p>Upon arrival of the product at your facility, please inspect it.
If you encounter any quality issues, damage, shortages, and/or incorrect product, please report it to your GreatCutFlowers, LLC sales representative within 24 hours of receipt of flowers.</p>
<p>We request the following photographs to accompany the claim. Pictures must be in focus and demonstrate the problem and its scope.</p> 
<p>The images must include the following:</p>

<ol>
<li>At least three (3) close-up images that clearly show the problem. If there are multiple boxes, then there should be three images for each box.</li>
<li>Provide at least one image that shows the entirety of the problem such as picture(s) of all the affected bunched in a group shot. If there are multiple boxes, then panoramic shots of each box's contents will be necessary.</li>
<li>Photograph(s) of the respective box labels.</li>
<li>Any other evidence that would support the claim.</li>	
</ol>


<p>A written credit request must accompany the claim which should include the following information:</p>
<ul>
<li>Date received</li>
<li>Invoice number</li>
<li>Product for which you are requesting credit</li>
<li>Number of units claimed</li>
<li>Reason for claim</li>
<li>Total dollar amount of the claim</li>
<li>Name of your sales associate</li>	
</ul>

<p>Upon validation of your claim, a credit memo will be issued and sent to you via email or mail.</p>

<p>Please note that we are not responsible for problems occurring during shipping from our location to your facility which include but are not limited to damage.</p>


</body>
</html>







