<!DOCTYPE html>
<html>

<head>
	
<title>NEWS</title>
	<meta charset="utf-8"  />
	<meta name="keywords" lang="en-us" content="faqs">
	<style>
	body {
			background-color: #faf2e4;
			margin: 0;
			font-family: sans-serif;
		}
		h2 {
			text-align: center;
			font-family: serif;
			font-weight: normal;
			text-transform: uppercase;
			border-bottom: 1px solid #57b1dc;
			margin-top: 30px;
		}
	</style>

</head>

<body>

<h2>NEWS</h2>
	<br/>

<p>GreatCutFlowers, LLC is a new cut flower start-up that will be opening its doors in the Winter of 2023 in Fort Myers, Florida. Our mission is to provide our customers with unique and fresh cut flowers directly from the farm. We believe that our high design and well-curated selection of decor products will inspire our customers to create beautiful events.</p>

<p>Our family has lived all over the world and we have been influenced by the beauty of flowers from every corner of the globe. We are excited to bring our passion for flowers to Fort Myers and share it with our customers.</p>

<p>At GreatCutFlowers, LLC, we are committed to providing our customers with the highest quality products and services. We believe that our fresh cut flowers will bring joy and happiness to our customers' lives.</p>

<p>We look forward to serving the Fort Myers & Florida community and beyond with our unique and fresh cut flowers. Thank you for choosing GreatCutFlowers, LLC.</p>


</body>
</html>


