<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
    body {
      background-color: #faf2e4;
      margin: 0;
      font-family: sans-serif;
    }
    h2 {
      text-align: center;
      font-family: serif;
      font-weight: normal;
      text-transform: uppercase;
      border-bottom: 1px solid #57b1dc;
      margin-top: 30px;
    }

  </style>    
<title>Purchase Agreement </title>
  </head>
  <body>
    <h2>PURCHASE AGREEMENT</h2>
<p>This Purchase Agreement ("Agreement") applies to all purchases of fresh flowers ("Product") made through the GCFlowers website, www.gcflowers.com, or placed over the phone, via fax, or in person with your GCF Sales Representative. By confirming your order to purchase Product placed with GCF Flower Exchange, you agree to be bound by the following general terms and conditions: </p>
<ul>
<li> CANCELLATIONS OR CHANGES TO AN ORDER
<p> If you wish to cancel or change an order that has been placed with GCFlowers, you must do so within 24 hours of your order being placed by calling your GCF Sales Representative at 1-800-XXX-XXXX. If your cancellation is made within the 24-hour time frame but your order is scheduled to ship within 24 hours of receipt of your notice, GCF will not be able to honor your request. While we will make every effort to accommodate your cancellation or change request when made within the 24-hour time frame, GCF cannot guarantee that such request will be honored. You will be notified by a GCF Flower Customer Service Representative if we were unable to accommodate your request. </p></li>
<li> DELAYS DUE TO FORCE MAJEURE CONDITIONS
<p> No requests for credits on Product, freight, or shipping charges will be accepted if your shipment is delayed for reasons beyond GCF's reasonable control, including but not limited to the following: courier delays caused by inclement weather conditions or mechanical problems, grower delays at the farm level, or delays due to Product held by the USDA/Customs for inspection. </p></li>
<li> DAMAGED OR INCORRECT PRODUCT RECEIVED
<p> If you receive damaged or incorrect product, you must contact GCF Customer Service Department immediately at 1-800-XXX-XXXX to assert your claims for credit. All such claim requests must be made within 24 hours of receipt of the shipment that is the subject of your claim in order to be considered for a credit. See Claims & Credit Policy. </p>
<p> If you want the product replaced, GCF will arrange to do so and charge you the current market price for such replacement product after the foregoing credit has been made to your GCF account. </p></li>
<li> STANDING ORDERS
<p> All standing orders, whether placed online or with your GCF Sales Representative, shall continue and be binding for one (1) year from the date of purchase. Your standing order will renew automatically unless GCF Customer Service receives written notice fourteen (14) days prior to the scheduled end date or one year anniversary date. </p></li>
<li> HOLDING SHIPMENTS
<p> Within this one (1) year time frame, you are allowed to place up to two (2) shipments of product per standing order on hold. If you need to hold a shipment, you must provide GCF Customer Service or your GCF Sales Representative written notice at least fourteen (14) days prior to the ship date of the order. </p></li>
<li> EARLY TERMINATION PENALTY
<p> If you terminate or cancel your standing order before the one (1) year commitment is up, this may result in an early termination penalty of 15% of the remaining sales dollars from your one-year commitment as determined by GCF in its sole discretion. </p></li>
<li> CANCELLATION OF STANDING ORDER
<p> GCF reserves the right to cancel your standing order if your account becomes or is past due, or your membership is terminated by GCF. </p></li>
</ul>
</body>
</html>
