<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      background-color: #faf2e4;
      margin: 0;
      font-family: sans-serif;
    }
    h2 {
      text-align: center;
      font-family: serif;
      font-weight: normal;
      text-transform: uppercase;
      border-bottom: 1px solid #57b1dc;
      margin-top: 30px;
    }

  </style>
    <title> SHIPPING POLICY</title>
  
  </head>
  <body>
    <h2> SHIPPING POLICY</h2>
  
<p>This shipping policy applies to all orders of cut flowers placed with our company. It outlines our terms and conditions for cancellations, changes, special orders, freight, and new customers. </p>
<ul>
<li>CANCELLATIONS/CHANGES 
<p>We work exclusively with floral professionals in a perishable business. Due to the specificity of orders and the increasingly short timelines, we order 2-3 times a day to ensure that you receive your product by the requested date. When you place an order, we assume that you need it. Orders can be cancelled only up to two weeks in advance. We can adjust line-item quantities downward to a maximum of $50.00 per order. </p></li>
<li>SPECIAL ORDERS 
<p>In special cases, we may ask you to sign a special-order form and/or provide a deposit on a particular order. We will do this when the quality of an item ordered is large, the product is expensive, or in short supply. </p></li>
<li>FREIGHT 
<p>We will work with you to determine the best method of shipping for your company. However, we are not responsible for the performance of the freight company. Airlines will not credit product or freight charges unless they are more than 48 hours late. FedEx will not credit product or freight unless the shipment arrives a day late. No method of transport will issue any credit for delays caused by weather or natural disasters. As a vendor, we will work with you to minimize problems and losses as part of a successful, long-term relationship. If a box is damaged in transit, it is a carrier issue, and you must sign “damaged” upon pickup or delivery to receive credit. </p></li>
<li>NEW CUSTOMERS 
<p>We cannot input orders from new customers until we have received their signed credit card authorization, shipping policies, and, where applicable, resale certificate. New customers’ first three orders will be subject to a 50% deposit which will be run on the order date. </p></li>
<li>DAY OF SHIPMENT – DEADLINES & CONTACT NUMBERS 
<p>For many reasons, it is important that we receive signed orders as early as possible. Our back house starts at 3:00 am and our sales staff at 6:30 am. We respectfully request that all airline orders be signed off by noon and all other carriers by 1:00 pm PST. </p>
<p>Late signoffs are subject to additional charges. Please make sure we have a way to reach you on the morning of your ship date. </p></li>
<li>CREDIT REQUESTS 
<p>Credit requests must be made within 24 hours of receipt of product and must be accompanied by photos demonstrating the problem and the number of stems impacted as per our Claims & Credit Policy. </p>
<p>We hope that these guidelines have been established to ensure that you receive the best quality product at a reasonable cost. </p></li>
</ul>

</body>
</html>
